openapi: "3.1.0"
info:
  title: "Billy API v2"
  version: "2.0.0"
  description: "Billy's JSON-based REST API. The API uses consistent resource conventions for retrieving, listing, creating, updating, and deleting resources."
servers:
  -
    url: "https://api.billysbilling.com/v2"
    description: "Primary API endpoint"
    x-source: "https://www.billy.dk/api/#endpoint"
    x-confidence: "high"
paths:
  "/accountGroups/{id}":
    get:
      operationId: "getAccountGroup"
      summary: "Get a accountGroup"
      description: "Retrieves a single accountGroup by ID using the standard Billy resource convention."
      tags:
        - "AccountGroups"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "AccountGroup ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "include"
          in: "query"
          required: false
          description: "Relationships to sideload or embed using resource.property:mode syntax."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#requesting-sideloaded-or-embedded-records"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "A JSON document with a root `accountGroup` key containing the requested record."
          content:
            "application/json":
              schema:
                type: "object"
                additionalProperties: true
                properties:
                  accountGroup:
                    "$ref": "#/components/schemas/AccountGroup"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#getting-a-single-record"
      x-confidence: "high"
    put:
      operationId: "updateAccountGroup"
      summary: "Update a accountGroup"
      description: "Updates selected properties of a accountGroup by ID using the standard Billy resource convention."
      tags:
        - "AccountGroups"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "AccountGroup ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      requestBody:
        description: "JSON document containing a single `accountGroup` root key. Only supplied properties are updated."
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              additionalProperties: false
              properties:
                accountGroup:
                  "$ref": "#/components/schemas/AccountGroupUpdate"
              required:
                - "accountGroup"
        x-source: "https://www.billy.dk/api/#updating-a-record"
        x-confidence: "high"
      responses:
        "200":
          description: "All records changed by the request."
          content:
            "application/json":
              schema:
                allOf:
                  -
                    "$ref": "#/components/schemas/ChangedRecordsEnvelope"
                  -
                    type: "object"
                    additionalProperties: true
                    properties:
                      accountGroups:
                        type: "array"
                        items:
                          "$ref": "#/components/schemas/AccountGroup"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#updating-a-record"
      x-confidence: "high"
    delete:
      operationId: "deleteAccountGroup"
      summary: "Delete a accountGroup"
      description: "Deletes a accountGroup by ID. DELETE requests are documented as idempotent."
      tags:
        - "AccountGroups"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "AccountGroup ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "Deleted record IDs are returned under meta.deletedRecords."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/DeletedRecordsEnvelope"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#deleting-a-record"
      x-confidence: "high"
  "/accountGroups":
    get:
      operationId: "listAccountGroups"
      summary: "List accountGroups"
      description: "Lists accountGroups using the standard Billy resource convention."
      tags:
        - "AccountGroups"
      parameters:
        -
          name: "include"
          in: "query"
          required: false
          description: "Relationships to sideload or embed using resource.property:mode syntax."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#requesting-sideloaded-or-embedded-records"
          x-confidence: "high"
        -
          name: "page"
          in: "query"
          required: false
          description: "Page number for paginated list results."
          schema:
            type: "integer"
            minimum: 1
          example: 2
          x-source: "https://www.billy.dk/api/#paging"
          x-confidence: "high"
        -
          name: "pageSize"
          in: "query"
          required: false
          description: "Number of records per page. Cannot be greater than 1000. Defaults to 1000 when omitted."
          schema:
            type: "integer"
            minimum: 1
            maximum: 1000
            default: 1000
          example: 20
          x-source: "https://www.billy.dk/api/#paging"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "A JSON document with a root `accountGroups` key containing an array of records."
          content:
            "application/json":
              schema:
                type: "object"
                additionalProperties: true
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
                  accountGroups:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/AccountGroup"
          x-source: "https://www.billy.dk/api/#listing-a-resource"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#listing-a-resource"
      x-confidence: "high"
    post:
      operationId: "createAccountGroup"
      summary: "Create a accountGroup"
      description: "Creates a accountGroup using the standard Billy resource convention."
      tags:
        - "AccountGroups"
      parameters:
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      requestBody:
        description: "JSON document containing a single `accountGroup` root key."
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              additionalProperties: false
              properties:
                accountGroup:
                  "$ref": "#/components/schemas/AccountGroupCreate"
              required:
                - "accountGroup"
        x-source: "https://www.billy.dk/api/#creating-a-record"
        x-confidence: "high"
      responses:
        "200":
          description: "All records changed by the request."
          content:
            "application/json":
              schema:
                allOf:
                  -
                    "$ref": "#/components/schemas/ChangedRecordsEnvelope"
                  -
                    type: "object"
                    additionalProperties: true
                    properties:
                      accountGroups:
                        type: "array"
                        items:
                          "$ref": "#/components/schemas/AccountGroup"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#creating-a-record"
      x-confidence: "high"
  "/accountNatures/{id}":
    get:
      operationId: "getAccountNature"
      summary: "Get a accountNature"
      description: "Retrieves a single accountNature by ID using the standard Billy resource convention."
      tags:
        - "AccountNatures"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "AccountNature ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "include"
          in: "query"
          required: false
          description: "Relationships to sideload or embed using resource.property:mode syntax."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#requesting-sideloaded-or-embedded-records"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "A JSON document with a root `accountNature` key containing the requested record."
          content:
            "application/json":
              schema:
                type: "object"
                additionalProperties: true
                properties:
                  accountNature:
                    "$ref": "#/components/schemas/AccountNature"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#getting-a-single-record"
      x-confidence: "high"
    put:
      operationId: "updateAccountNature"
      summary: "Update a accountNature"
      description: "Updates selected properties of a accountNature by ID using the standard Billy resource convention."
      tags:
        - "AccountNatures"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "AccountNature ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      requestBody:
        description: "JSON document containing a single `accountNature` root key. Only supplied properties are updated."
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              additionalProperties: false
              properties:
                accountNature:
                  "$ref": "#/components/schemas/AccountNatureUpdate"
              required:
                - "accountNature"
        x-source: "https://www.billy.dk/api/#updating-a-record"
        x-confidence: "high"
      responses:
        "200":
          description: "All records changed by the request."
          content:
            "application/json":
              schema:
                allOf:
                  -
                    "$ref": "#/components/schemas/ChangedRecordsEnvelope"
                  -
                    type: "object"
                    additionalProperties: true
                    properties:
                      accountNatures:
                        type: "array"
                        items:
                          "$ref": "#/components/schemas/AccountNature"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#updating-a-record"
      x-confidence: "high"
  "/accountNatures":
    get:
      operationId: "listAccountNatures"
      summary: "List accountNatures"
      description: "Lists accountNatures using the standard Billy resource convention."
      tags:
        - "AccountNatures"
      parameters:
        -
          name: "include"
          in: "query"
          required: false
          description: "Relationships to sideload or embed using resource.property:mode syntax."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#requesting-sideloaded-or-embedded-records"
          x-confidence: "high"
        -
          name: "page"
          in: "query"
          required: false
          description: "Page number for paginated list results."
          schema:
            type: "integer"
            minimum: 1
          example: 2
          x-source: "https://www.billy.dk/api/#paging"
          x-confidence: "high"
        -
          name: "pageSize"
          in: "query"
          required: false
          description: "Number of records per page. Cannot be greater than 1000. Defaults to 1000 when omitted."
          schema:
            type: "integer"
            minimum: 1
            maximum: 1000
            default: 1000
          example: 20
          x-source: "https://www.billy.dk/api/#paging"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "A JSON document with a root `accountNatures` key containing an array of records."
          content:
            "application/json":
              schema:
                type: "object"
                additionalProperties: true
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
                  accountNatures:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/AccountNature"
          x-source: "https://www.billy.dk/api/#listing-a-resource"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#listing-a-resource"
      x-confidence: "high"
    post:
      operationId: "createAccountNature"
      summary: "Create a accountNature"
      description: "Creates a accountNature using the standard Billy resource convention."
      tags:
        - "AccountNatures"
      parameters:
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      requestBody:
        description: "JSON document containing a single `accountNature` root key."
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              additionalProperties: false
              properties:
                accountNature:
                  "$ref": "#/components/schemas/AccountNatureCreate"
              required:
                - "accountNature"
        x-source: "https://www.billy.dk/api/#creating-a-record"
        x-confidence: "high"
      responses:
        "200":
          description: "All records changed by the request."
          content:
            "application/json":
              schema:
                allOf:
                  -
                    "$ref": "#/components/schemas/ChangedRecordsEnvelope"
                  -
                    type: "object"
                    additionalProperties: true
                    properties:
                      accountNatures:
                        type: "array"
                        items:
                          "$ref": "#/components/schemas/AccountNature"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#creating-a-record"
      x-confidence: "high"
  "/accounts/{id}":
    get:
      operationId: "getAccount"
      summary: "Get a account"
      description: "Retrieves a single account by ID using the standard Billy resource convention."
      tags:
        - "Accounts"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "Account ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "include"
          in: "query"
          required: false
          description: "Relationships to sideload or embed using resource.property:mode syntax."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#requesting-sideloaded-or-embedded-records"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "A JSON document with a root `account` key containing the requested record."
          content:
            "application/json":
              schema:
                type: "object"
                additionalProperties: true
                properties:
                  account:
                    "$ref": "#/components/schemas/Account"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#getting-a-single-record"
      x-confidence: "high"
    put:
      operationId: "updateAccount"
      summary: "Update a account"
      description: "Updates selected properties of a account by ID using the standard Billy resource convention."
      tags:
        - "Accounts"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "Account ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      requestBody:
        description: "JSON document containing a single `account` root key. Only supplied properties are updated."
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              additionalProperties: false
              properties:
                account:
                  "$ref": "#/components/schemas/AccountUpdate"
              required:
                - "account"
        x-source: "https://www.billy.dk/api/#updating-a-record"
        x-confidence: "high"
      responses:
        "200":
          description: "All records changed by the request."
          content:
            "application/json":
              schema:
                allOf:
                  -
                    "$ref": "#/components/schemas/ChangedRecordsEnvelope"
                  -
                    type: "object"
                    additionalProperties: true
                    properties:
                      accounts:
                        type: "array"
                        items:
                          "$ref": "#/components/schemas/Account"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#updating-a-record"
      x-confidence: "high"
    delete:
      operationId: "deleteAccount"
      summary: "Delete a account"
      description: "Deletes a account by ID. DELETE requests are documented as idempotent."
      tags:
        - "Accounts"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "Account ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "Deleted record IDs are returned under meta.deletedRecords."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/DeletedRecordsEnvelope"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#deleting-a-record"
      x-confidence: "high"
  "/accounts":
    get:
      operationId: "listAccounts"
      summary: "List accounts"
      description: "Lists accounts using the standard Billy resource convention."
      tags:
        - "Accounts"
      parameters:
        -
          name: "include"
          in: "query"
          required: false
          description: "Relationships to sideload or embed using resource.property:mode syntax."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#requesting-sideloaded-or-embedded-records"
          x-confidence: "high"
        -
          name: "page"
          in: "query"
          required: false
          description: "Page number for paginated list results."
          schema:
            type: "integer"
            minimum: 1
          example: 2
          x-source: "https://www.billy.dk/api/#paging"
          x-confidence: "high"
        -
          name: "pageSize"
          in: "query"
          required: false
          description: "Number of records per page. Cannot be greater than 1000. Defaults to 1000 when omitted."
          schema:
            type: "integer"
            minimum: 1
            maximum: 1000
            default: 1000
          example: 20
          x-source: "https://www.billy.dk/api/#paging"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "A JSON document with a root `accounts` key containing an array of records."
          content:
            "application/json":
              schema:
                type: "object"
                additionalProperties: true
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
                  accounts:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/Account"
          x-source: "https://www.billy.dk/api/#listing-a-resource"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#listing-a-resource"
      x-confidence: "high"
    post:
      operationId: "createAccount"
      summary: "Create a account"
      description: "Creates a account using the standard Billy resource convention."
      tags:
        - "Accounts"
      parameters:
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      requestBody:
        description: "JSON document containing a single `account` root key."
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              additionalProperties: false
              properties:
                account:
                  "$ref": "#/components/schemas/AccountCreate"
              required:
                - "account"
        x-source: "https://www.billy.dk/api/#creating-a-record"
        x-confidence: "high"
      responses:
        "200":
          description: "All records changed by the request."
          content:
            "application/json":
              schema:
                allOf:
                  -
                    "$ref": "#/components/schemas/ChangedRecordsEnvelope"
                  -
                    type: "object"
                    additionalProperties: true
                    properties:
                      accounts:
                        type: "array"
                        items:
                          "$ref": "#/components/schemas/Account"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#creating-a-record"
      x-confidence: "high"
  "/attachments/{id}":
    get:
      operationId: "getAttachment"
      summary: "Get a attachment"
      description: "Retrieves a single attachment by ID using the standard Billy resource convention."
      tags:
        - "Attachments"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "Attachment ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "include"
          in: "query"
          required: false
          description: "Relationships to sideload or embed using resource.property:mode syntax."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#requesting-sideloaded-or-embedded-records"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "A JSON document with a root `attachment` key containing the requested record."
          content:
            "application/json":
              schema:
                type: "object"
                additionalProperties: true
                properties:
                  attachment:
                    "$ref": "#/components/schemas/Attachment"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#getting-a-single-record"
      x-confidence: "high"
    put:
      operationId: "updateAttachment"
      summary: "Update a attachment"
      description: "Updates selected properties of a attachment by ID using the standard Billy resource convention."
      tags:
        - "Attachments"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "Attachment ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      requestBody:
        description: "JSON document containing a single `attachment` root key. Only supplied properties are updated."
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              additionalProperties: false
              properties:
                attachment:
                  "$ref": "#/components/schemas/AttachmentUpdate"
              required:
                - "attachment"
        x-source: "https://www.billy.dk/api/#updating-a-record"
        x-confidence: "high"
      responses:
        "200":
          description: "All records changed by the request."
          content:
            "application/json":
              schema:
                allOf:
                  -
                    "$ref": "#/components/schemas/ChangedRecordsEnvelope"
                  -
                    type: "object"
                    additionalProperties: true
                    properties:
                      attachments:
                        type: "array"
                        items:
                          "$ref": "#/components/schemas/Attachment"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#updating-a-record"
      x-confidence: "high"
    delete:
      operationId: "deleteAttachment"
      summary: "Delete a attachment"
      description: "Deletes a attachment by ID. DELETE requests are documented as idempotent."
      tags:
        - "Attachments"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "Attachment ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "Deleted record IDs are returned under meta.deletedRecords."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/DeletedRecordsEnvelope"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#deleting-a-record"
      x-confidence: "high"
  "/attachments":
    get:
      operationId: "listAttachments"
      summary: "List attachments"
      description: "Lists attachments using the standard Billy resource convention."
      tags:
        - "Attachments"
      parameters:
        -
          name: "include"
          in: "query"
          required: false
          description: "Relationships to sideload or embed using resource.property:mode syntax."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#requesting-sideloaded-or-embedded-records"
          x-confidence: "high"
        -
          name: "page"
          in: "query"
          required: false
          description: "Page number for paginated list results."
          schema:
            type: "integer"
            minimum: 1
          example: 2
          x-source: "https://www.billy.dk/api/#paging"
          x-confidence: "high"
        -
          name: "pageSize"
          in: "query"
          required: false
          description: "Number of records per page. Cannot be greater than 1000. Defaults to 1000 when omitted."
          schema:
            type: "integer"
            minimum: 1
            maximum: 1000
            default: 1000
          example: 20
          x-source: "https://www.billy.dk/api/#paging"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "A JSON document with a root `attachments` key containing an array of records."
          content:
            "application/json":
              schema:
                type: "object"
                additionalProperties: true
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
                  attachments:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/Attachment"
          x-source: "https://www.billy.dk/api/#listing-a-resource"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#listing-a-resource"
      x-confidence: "high"
    post:
      operationId: "createAttachment"
      summary: "Create a attachment"
      description: "Creates a attachment using the standard Billy resource convention."
      tags:
        - "Attachments"
      parameters:
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      requestBody:
        description: "JSON document containing a single `attachment` root key."
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              additionalProperties: false
              properties:
                attachment:
                  "$ref": "#/components/schemas/AttachmentCreate"
              required:
                - "attachment"
        x-source: "https://www.billy.dk/api/#creating-a-record"
        x-confidence: "high"
      responses:
        "200":
          description: "All records changed by the request."
          content:
            "application/json":
              schema:
                allOf:
                  -
                    "$ref": "#/components/schemas/ChangedRecordsEnvelope"
                  -
                    type: "object"
                    additionalProperties: true
                    properties:
                      attachments:
                        type: "array"
                        items:
                          "$ref": "#/components/schemas/Attachment"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#creating-a-record"
      x-confidence: "high"
  "/balanceModifiers/{id}":
    get:
      operationId: "getBalanceModifier"
      summary: "Get a balanceModifier"
      description: "Retrieves a single balanceModifier by ID using the standard Billy resource convention."
      tags:
        - "BalanceModifiers"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "BalanceModifier ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "include"
          in: "query"
          required: false
          description: "Relationships to sideload or embed using resource.property:mode syntax."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#requesting-sideloaded-or-embedded-records"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "A JSON document with a root `balanceModifier` key containing the requested record."
          content:
            "application/json":
              schema:
                type: "object"
                additionalProperties: true
                properties:
                  balanceModifier:
                    "$ref": "#/components/schemas/BalanceModifier"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#getting-a-single-record"
      x-confidence: "high"
    put:
      operationId: "updateBalanceModifier"
      summary: "Update a balanceModifier"
      description: "Updates selected properties of a balanceModifier by ID using the standard Billy resource convention."
      tags:
        - "BalanceModifiers"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "BalanceModifier ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      requestBody:
        description: "JSON document containing a single `balanceModifier` root key. Only supplied properties are updated."
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              additionalProperties: false
              properties:
                balanceModifier:
                  "$ref": "#/components/schemas/BalanceModifierUpdate"
              required:
                - "balanceModifier"
        x-source: "https://www.billy.dk/api/#updating-a-record"
        x-confidence: "high"
      responses:
        "200":
          description: "All records changed by the request."
          content:
            "application/json":
              schema:
                allOf:
                  -
                    "$ref": "#/components/schemas/ChangedRecordsEnvelope"
                  -
                    type: "object"
                    additionalProperties: true
                    properties:
                      balanceModifiers:
                        type: "array"
                        items:
                          "$ref": "#/components/schemas/BalanceModifier"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#updating-a-record"
      x-confidence: "high"
  "/balanceModifiers":
    get:
      operationId: "listBalanceModifiers"
      summary: "List balanceModifiers"
      description: "Lists balanceModifiers using the standard Billy resource convention."
      tags:
        - "BalanceModifiers"
      parameters:
        -
          name: "include"
          in: "query"
          required: false
          description: "Relationships to sideload or embed using resource.property:mode syntax."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#requesting-sideloaded-or-embedded-records"
          x-confidence: "high"
        -
          name: "page"
          in: "query"
          required: false
          description: "Page number for paginated list results."
          schema:
            type: "integer"
            minimum: 1
          example: 2
          x-source: "https://www.billy.dk/api/#paging"
          x-confidence: "high"
        -
          name: "pageSize"
          in: "query"
          required: false
          description: "Number of records per page. Cannot be greater than 1000. Defaults to 1000 when omitted."
          schema:
            type: "integer"
            minimum: 1
            maximum: 1000
            default: 1000
          example: 20
          x-source: "https://www.billy.dk/api/#paging"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "A JSON document with a root `balanceModifiers` key containing an array of records."
          content:
            "application/json":
              schema:
                type: "object"
                additionalProperties: true
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
                  balanceModifiers:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/BalanceModifier"
          x-source: "https://www.billy.dk/api/#listing-a-resource"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#listing-a-resource"
      x-confidence: "high"
    post:
      operationId: "createBalanceModifier"
      summary: "Create a balanceModifier"
      description: "Creates a balanceModifier using the standard Billy resource convention."
      tags:
        - "BalanceModifiers"
      parameters:
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      requestBody:
        description: "JSON document containing a single `balanceModifier` root key."
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              additionalProperties: false
              properties:
                balanceModifier:
                  "$ref": "#/components/schemas/BalanceModifierCreate"
              required:
                - "balanceModifier"
        x-source: "https://www.billy.dk/api/#creating-a-record"
        x-confidence: "high"
      responses:
        "200":
          description: "All records changed by the request."
          content:
            "application/json":
              schema:
                allOf:
                  -
                    "$ref": "#/components/schemas/ChangedRecordsEnvelope"
                  -
                    type: "object"
                    additionalProperties: true
                    properties:
                      balanceModifiers:
                        type: "array"
                        items:
                          "$ref": "#/components/schemas/BalanceModifier"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#creating-a-record"
      x-confidence: "high"
  "/bankLineMatches/{id}":
    get:
      operationId: "getBankLineMatch"
      summary: "Get a bankLineMatch"
      description: "Retrieves a single bankLineMatch by ID using the standard Billy resource convention."
      tags:
        - "BankLineMatches"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "BankLineMatch ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "include"
          in: "query"
          required: false
          description: "Relationships to sideload or embed using resource.property:mode syntax."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#requesting-sideloaded-or-embedded-records"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "A JSON document with a root `bankLineMatch` key containing the requested record."
          content:
            "application/json":
              schema:
                type: "object"
                additionalProperties: true
                properties:
                  bankLineMatch:
                    "$ref": "#/components/schemas/BankLineMatch"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#getting-a-single-record"
      x-confidence: "high"
    put:
      operationId: "updateBankLineMatch"
      summary: "Update a bankLineMatch"
      description: "Updates selected properties of a bankLineMatch by ID using the standard Billy resource convention."
      tags:
        - "BankLineMatches"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "BankLineMatch ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      requestBody:
        description: "JSON document containing a single `bankLineMatch` root key. Only supplied properties are updated."
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              additionalProperties: false
              properties:
                bankLineMatch:
                  "$ref": "#/components/schemas/BankLineMatchUpdate"
              required:
                - "bankLineMatch"
        x-source: "https://www.billy.dk/api/#updating-a-record"
        x-confidence: "high"
      responses:
        "200":
          description: "All records changed by the request."
          content:
            "application/json":
              schema:
                allOf:
                  -
                    "$ref": "#/components/schemas/ChangedRecordsEnvelope"
                  -
                    type: "object"
                    additionalProperties: true
                    properties:
                      bankLineMatches:
                        type: "array"
                        items:
                          "$ref": "#/components/schemas/BankLineMatch"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#updating-a-record"
      x-confidence: "high"
    delete:
      operationId: "deleteBankLineMatch"
      summary: "Delete a bankLineMatch"
      description: "Deletes a bankLineMatch by ID. DELETE requests are documented as idempotent."
      tags:
        - "BankLineMatches"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "BankLineMatch ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "Deleted record IDs are returned under meta.deletedRecords."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/DeletedRecordsEnvelope"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#deleting-a-record"
      x-confidence: "high"
  "/bankLineMatches":
    get:
      operationId: "listBankLineMatches"
      summary: "List bankLineMatches"
      description: "Lists bankLineMatches using the standard Billy resource convention."
      tags:
        - "BankLineMatches"
      parameters:
        -
          name: "include"
          in: "query"
          required: false
          description: "Relationships to sideload or embed using resource.property:mode syntax."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#requesting-sideloaded-or-embedded-records"
          x-confidence: "high"
        -
          name: "page"
          in: "query"
          required: false
          description: "Page number for paginated list results."
          schema:
            type: "integer"
            minimum: 1
          example: 2
          x-source: "https://www.billy.dk/api/#paging"
          x-confidence: "high"
        -
          name: "pageSize"
          in: "query"
          required: false
          description: "Number of records per page. Cannot be greater than 1000. Defaults to 1000 when omitted."
          schema:
            type: "integer"
            minimum: 1
            maximum: 1000
            default: 1000
          example: 20
          x-source: "https://www.billy.dk/api/#paging"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "A JSON document with a root `bankLineMatches` key containing an array of records."
          content:
            "application/json":
              schema:
                type: "object"
                additionalProperties: true
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
                  bankLineMatches:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/BankLineMatch"
          x-source: "https://www.billy.dk/api/#listing-a-resource"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#listing-a-resource"
      x-confidence: "high"
    post:
      operationId: "createBankLineMatch"
      summary: "Create a bankLineMatch"
      description: "Creates a bankLineMatch using the standard Billy resource convention."
      tags:
        - "BankLineMatches"
      parameters:
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      requestBody:
        description: "JSON document containing a single `bankLineMatch` root key."
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              additionalProperties: false
              properties:
                bankLineMatch:
                  "$ref": "#/components/schemas/BankLineMatchCreate"
              required:
                - "bankLineMatch"
        x-source: "https://www.billy.dk/api/#creating-a-record"
        x-confidence: "high"
      responses:
        "200":
          description: "All records changed by the request."
          content:
            "application/json":
              schema:
                allOf:
                  -
                    "$ref": "#/components/schemas/ChangedRecordsEnvelope"
                  -
                    type: "object"
                    additionalProperties: true
                    properties:
                      bankLineMatches:
                        type: "array"
                        items:
                          "$ref": "#/components/schemas/BankLineMatch"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#creating-a-record"
      x-confidence: "high"
  "/bankLines/{id}":
    get:
      operationId: "getBankLine"
      summary: "Get a bankLine"
      description: "Retrieves a single bankLine by ID using the standard Billy resource convention."
      tags:
        - "BankLines"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "BankLine ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "include"
          in: "query"
          required: false
          description: "Relationships to sideload or embed using resource.property:mode syntax."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#requesting-sideloaded-or-embedded-records"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "A JSON document with a root `bankLine` key containing the requested record."
          content:
            "application/json":
              schema:
                type: "object"
                additionalProperties: true
                properties:
                  bankLine:
                    "$ref": "#/components/schemas/BankLine"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#getting-a-single-record"
      x-confidence: "high"
    put:
      operationId: "updateBankLine"
      summary: "Update a bankLine"
      description: "Updates selected properties of a bankLine by ID using the standard Billy resource convention."
      tags:
        - "BankLines"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "BankLine ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      requestBody:
        description: "JSON document containing a single `bankLine` root key. Only supplied properties are updated."
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              additionalProperties: false
              properties:
                bankLine:
                  "$ref": "#/components/schemas/BankLineUpdate"
              required:
                - "bankLine"
        x-source: "https://www.billy.dk/api/#updating-a-record"
        x-confidence: "high"
      responses:
        "200":
          description: "All records changed by the request."
          content:
            "application/json":
              schema:
                allOf:
                  -
                    "$ref": "#/components/schemas/ChangedRecordsEnvelope"
                  -
                    type: "object"
                    additionalProperties: true
                    properties:
                      bankLines:
                        type: "array"
                        items:
                          "$ref": "#/components/schemas/BankLine"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#updating-a-record"
      x-confidence: "high"
    delete:
      operationId: "deleteBankLine"
      summary: "Delete a bankLine"
      description: "Deletes a bankLine by ID. DELETE requests are documented as idempotent."
      tags:
        - "BankLines"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "BankLine ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "Deleted record IDs are returned under meta.deletedRecords."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/DeletedRecordsEnvelope"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#deleting-a-record"
      x-confidence: "high"
  "/bankLines":
    get:
      operationId: "listBankLines"
      summary: "List bankLines"
      description: "Lists bankLines using the standard Billy resource convention."
      tags:
        - "BankLines"
      parameters:
        -
          name: "include"
          in: "query"
          required: false
          description: "Relationships to sideload or embed using resource.property:mode syntax."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#requesting-sideloaded-or-embedded-records"
          x-confidence: "high"
        -
          name: "accountId"
          in: "query"
          required: true
          description: "Cash account ID to list bank lines for. Billy requires bank line lists to be filtered by accountId."
          schema:
            type: "string"
        -
          name: "page"
          in: "query"
          required: false
          description: "Page number for paginated list results."
          schema:
            type: "integer"
            minimum: 1
          example: 2
          x-source: "https://www.billy.dk/api/#paging"
          x-confidence: "high"
        -
          name: "pageSize"
          in: "query"
          required: false
          description: "Number of records per page. Cannot be greater than 1000. Defaults to 1000 when omitted."
          schema:
            type: "integer"
            minimum: 1
            maximum: 1000
            default: 1000
          example: 20
          x-source: "https://www.billy.dk/api/#paging"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "A JSON document with a root `bankLines` key containing an array of records."
          content:
            "application/json":
              schema:
                type: "object"
                additionalProperties: true
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
                  bankLines:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/BankLine"
          x-source: "https://www.billy.dk/api/#listing-a-resource"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#listing-a-resource"
      x-confidence: "high"
    post:
      operationId: "createBankLine"
      summary: "Create a bankLine"
      description: "Creates a bankLine using the standard Billy resource convention."
      tags:
        - "BankLines"
      parameters:
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      requestBody:
        description: "JSON document containing a single `bankLine` root key."
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              additionalProperties: false
              properties:
                bankLine:
                  "$ref": "#/components/schemas/BankLineCreate"
              required:
                - "bankLine"
        x-source: "https://www.billy.dk/api/#creating-a-record"
        x-confidence: "high"
      responses:
        "200":
          description: "All records changed by the request."
          content:
            "application/json":
              schema:
                allOf:
                  -
                    "$ref": "#/components/schemas/ChangedRecordsEnvelope"
                  -
                    type: "object"
                    additionalProperties: true
                    properties:
                      bankLines:
                        type: "array"
                        items:
                          "$ref": "#/components/schemas/BankLine"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#creating-a-record"
      x-confidence: "high"
  "/bankLineSubjectAssociations/{id}":
    get:
      operationId: "getBankLineSubjectAssociation"
      summary: "Get a bankLineSubjectAssociation"
      description: "Retrieves a single bankLineSubjectAssociation by ID using the standard Billy resource convention."
      tags:
        - "BankLineSubjectAssociations"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "BankLineSubjectAssociation ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "include"
          in: "query"
          required: false
          description: "Relationships to sideload or embed using resource.property:mode syntax."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#requesting-sideloaded-or-embedded-records"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "A JSON document with a root `bankLineSubjectAssociation` key containing the requested record."
          content:
            "application/json":
              schema:
                type: "object"
                additionalProperties: true
                properties:
                  bankLineSubjectAssociation:
                    "$ref": "#/components/schemas/BankLineSubjectAssociation"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#getting-a-single-record"
      x-confidence: "high"
    put:
      operationId: "updateBankLineSubjectAssociation"
      summary: "Update a bankLineSubjectAssociation"
      description: "Updates selected properties of a bankLineSubjectAssociation by ID using the standard Billy resource convention."
      tags:
        - "BankLineSubjectAssociations"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "BankLineSubjectAssociation ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      requestBody:
        description: "JSON document containing a single `bankLineSubjectAssociation` root key. Only supplied properties are updated."
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              additionalProperties: false
              properties:
                bankLineSubjectAssociation:
                  "$ref": "#/components/schemas/BankLineSubjectAssociationUpdate"
              required:
                - "bankLineSubjectAssociation"
        x-source: "https://www.billy.dk/api/#updating-a-record"
        x-confidence: "high"
      responses:
        "200":
          description: "All records changed by the request."
          content:
            "application/json":
              schema:
                allOf:
                  -
                    "$ref": "#/components/schemas/ChangedRecordsEnvelope"
                  -
                    type: "object"
                    additionalProperties: true
                    properties:
                      bankLineSubjectAssociations:
                        type: "array"
                        items:
                          "$ref": "#/components/schemas/BankLineSubjectAssociation"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#updating-a-record"
      x-confidence: "high"
    delete:
      operationId: "deleteBankLineSubjectAssociation"
      summary: "Delete a bankLineSubjectAssociation"
      description: "Deletes a bankLineSubjectAssociation by ID. DELETE requests are documented as idempotent."
      tags:
        - "BankLineSubjectAssociations"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "BankLineSubjectAssociation ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "Deleted record IDs are returned under meta.deletedRecords."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/DeletedRecordsEnvelope"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#deleting-a-record"
      x-confidence: "high"
  "/bankLineSubjectAssociations":
    get:
      operationId: "listBankLineSubjectAssociations"
      summary: "List bankLineSubjectAssociations"
      description: "Lists bankLineSubjectAssociations using the standard Billy resource convention."
      tags:
        - "BankLineSubjectAssociations"
      parameters:
        -
          name: "include"
          in: "query"
          required: false
          description: "Relationships to sideload or embed using resource.property:mode syntax."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#requesting-sideloaded-or-embedded-records"
          x-confidence: "high"
        -
          name: "page"
          in: "query"
          required: false
          description: "Page number for paginated list results."
          schema:
            type: "integer"
            minimum: 1
          example: 2
          x-source: "https://www.billy.dk/api/#paging"
          x-confidence: "high"
        -
          name: "pageSize"
          in: "query"
          required: false
          description: "Number of records per page. Cannot be greater than 1000. Defaults to 1000 when omitted."
          schema:
            type: "integer"
            minimum: 1
            maximum: 1000
            default: 1000
          example: 20
          x-source: "https://www.billy.dk/api/#paging"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "A JSON document with a root `bankLineSubjectAssociations` key containing an array of records."
          content:
            "application/json":
              schema:
                type: "object"
                additionalProperties: true
                properties:
                  meta:
                    "$ref": "#/components/schemas/Meta"
                  bankLineSubjectAssociations:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/BankLineSubjectAssociation"
          x-source: "https://www.billy.dk/api/#listing-a-resource"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#listing-a-resource"
      x-confidence: "high"
    post:
      operationId: "createBankLineSubjectAssociation"
      summary: "Create a bankLineSubjectAssociation"
      description: "Creates a bankLineSubjectAssociation using the standard Billy resource convention."
      tags:
        - "BankLineSubjectAssociations"
      parameters:
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      requestBody:
        description: "JSON document containing a single `bankLineSubjectAssociation` root key."
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              additionalProperties: false
              properties:
                bankLineSubjectAssociation:
                  "$ref": "#/components/schemas/BankLineSubjectAssociationCreate"
              required:
                - "bankLineSubjectAssociation"
        x-source: "https://www.billy.dk/api/#creating-a-record"
        x-confidence: "high"
      responses:
        "200":
          description: "All records changed by the request."
          content:
            "application/json":
              schema:
                allOf:
                  -
                    "$ref": "#/components/schemas/ChangedRecordsEnvelope"
                  -
                    type: "object"
                    additionalProperties: true
                    properties:
                      bankLineSubjectAssociations:
                        type: "array"
                        items:
                          "$ref": "#/components/schemas/BankLineSubjectAssociation"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#creating-a-record"
      x-confidence: "high"
  "/bankPayments/{id}":
    get:
      operationId: "getBankPayment"
      summary: "Get a bankPayment"
      description: "Retrieves a single bankPayment by ID using the standard Billy resource convention."
      tags:
        - "BankPayments"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "BankPayment ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "include"
          in: "query"
          required: false
          description: "Relationships to sideload or embed using resource.property:mode syntax."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#requesting-sideloaded-or-embedded-records"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      responses:
        "200":
          description: "A JSON document with a root `bankPayment` key containing the requested record."
          content:
            "application/json":
              schema:
                type: "object"
                additionalProperties: true
                properties:
                  bankPayment:
                    "$ref": "#/components/schemas/BankPayment"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
      x-source: "https://www.billy.dk/api/#getting-a-single-record"
      x-confidence: "high"
    put:
      operationId: "updateBankPayment"
      summary: "Update a bankPayment"
      description: "Updates selected properties of a bankPayment by ID using the standard Billy resource convention."
      tags:
        - "BankPayments"
      parameters:
        -
          name: "id"
          in: "path"
          required: true
          description: "BankPayment ID."
          schema:
            type: "string"
          x-source: "https://www.billy.dk/api/#getting-a-single-record"
          x-confidence: "high"
        -
          name: "Accept-Language"
          in: "header"
          required: false
          description: "Preferred response locale for localized system texts."
          schema:
            type: "string"
            enum:
              - "en_US"
              - "da_DK"
              - "fr_FR"
              - "nl_NL"
              - "de_DE"
          x-source: "https://www.billy.dk/api/#localization"
          x-confidence: "high"
      requestBody:
        description: "JSON document containing a single `bankPayment` root key. Only supplied properties are updated."
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              additionalProperties: false
              properties:
                bankPayment:
                  "$ref": "#/components/schemas/BankPaymentUpdate"
              required:
                - "bankPayment"
        x-source: "https://www.billy.dk/api/#updating-a-record"
        x-confidence: "high"
      responses:
        "200":
          description: "All records changed by the request."
          content:
            "application/json":
              schema:
                allOf:
                  -
                    "$ref": "#/components/schemas/ChangedRecordsEnvelope"
                  -
                    type: "object"
                    additionalProperties: true
                    properties:
                      bankPayments:
                        type: "array"
                        items:
                          "$ref": "#/components/schemas/BankPayment"
          x-source: "https://www.billy.dk/api/#responses-to-createupdatedelete-requests"
          x-confidence: "high"
        "4XX":
          description: "Client error response. The docs do not describe a shared error body schema."
          x-source: "https://www.billy.dk/api/#code-examples"
          x-confidence: "medium"
          x-review-note: "The docs show client examples treating HTTP status codes >= 400 as errors, but do not enumerate specific 4XX status codes or an error response schema."
[...]
